* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(176deg,rgb(2, 0, 40) 0%, rgb(15, 53, 113) 35%, rgba(0, 212, 255, 1) 100%);
}

.title-body {
    color: rgb(248, 243, 243);
    font-size: 1.4rem;
    padding-bottom: 3rem;
}

.calc-body {
    background-color: rgb(65, 65, 65);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    width: 32rem;
}

.display {
    height: 2rem;
    width: 30rem;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #ffffff;
    color: #242222;
    font-size: 1.8rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    min-height: 4rem;
    min-width: 10rem;
    text-align: left;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
}

#buttons-end {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    margin-top: 0.6rem;
}

.bt-op {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333131;
    background-color: rgb(198, 219, 119);
}

.bt-op-two {
    border: none;
    border-radius: 2rem;
    padding: 1.1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000000;
    background-color: rgb(255, 234, 234);
    font-weight: 200;
    width: 100%;    
}

.bt-number {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgb(145, 142, 144);
    cursor: pointer;
}

